.how-it-looks{
    padding-top: 4vh;
    background-color: #fbfbf7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .container{
        align-items: center;
        flex-direction: column;
        height: auto;
    }

    .how-it-looks__items{
        max-height: 80vh;
        height: 100%;
        display: flex;
    }
    .how-it-looks__item_left,
    .how-it-looks__item_right{
        display: flex;
        flex-wrap: wrap;
    }
    .how-it-looks__item{
        width: 50%;
        display: flex;
        
        img{
             object-fit: cover;
             width: 100%;
             max-height: 80vh;
        }
    }
    .how-it-looks__item_left{
        .how-it-looks__item{
            width: 50%;
            height: 50%;
        }
        .how-it-looks__item:nth-child(1){
            width: 100%;
        }
    }
    .how-it-looks__item_right{
        .how-it-looks__item{
            flex-wrap: wrap;
        }
    }
}