.services {
    padding-top: 4vh;
    background-color: #fbfbf7;

    .container {
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
        height: auto;
    }

    .section-heading{
        margin-bottom: 40px;
    }

    .services__text {
        max-width: 700px;
        text-align: center;
        margin-bottom: 50px;
    }

    .services__img-items {
        display: flex;
        flex-wrap: wrap;
        
    }

    .services__img{
        object-fit: cover;
        width: 100%;
    }

    .services__img-item {
        width: calc(100%/3);
        // height: 100%;
        height: 30vh;
        display: flex;
        position: relative;

        &::after{
            @extend %greenFill;
            z-index: 2;
        }

        &:hover{
            &::after{
                opacity: 0.9;
            }
            .services__img-text{
                opacity: 1;
            }
        }

        &:nth-child(3) .services__img {
            object-position: 0% 20%;
        }

        &:nth-child(6) .services__img {
            object-position: 0px -5px;
        }

        .h5-heading{
            font-size: 26px;
            line-height: 37.86px;
            position: absolute;
            top: 15px;
            left: 15px;
            opacity: 1;
            z-index: 3;
        }

        .services__img-text{
            position: absolute;
            top: 55px;
            left: 15px;
            font-size: 18px;
            opacity: 0;
            z-index: 3;
            color: #fff;
        }
    }

    .swiper-button-prev,
    .swiper-button-next{
        opacity: 0;
    }
}


