html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  height: 100%;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.42;
  height: 100%;
  font-family: "MyriadPro", sans-serif;
  color: #362c2d;
}
.no-scroll-body{
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
}

.section {
  min-height: 750px;
  height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
svg {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

%clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

.wrapper {
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

ul {
  list-style-type: none;
}

%greenFill{
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background-color: #88e7a5;
  opacity: 0;
}

.social-icon{
  display: flex;
  justify-content: space-between;
}