.section-heading {
    font-family: "Circe";
    font-size: 36px;
    line-height: 37.86px;
    font-weight: 400;
    position: relative;
    padding-bottom: 40px;

    &::after {
        width: 143px;
        height: 3px;
        background-color: #62cc82;
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0px;
        margin: 0 auto;
    }
}
%white-heading{
    font-family: "Circe";
        font-weight: 800;
        text-align: center;
        color: #ffffff;
}
.h5-heading{
    @extend %white-heading;
    
}